body {
	overflow-y: auto;
	display: flex;
	flex-flow: column;
	background-color: #c0c0c0;
	margin: 20px;
}
h2{
	font-family: Saucer-BB;
}
h1{
font-family: RINGM___;
}

.page {
	margin: 10px;
}

.page-login {
	display: flex;
	
}
	.page.login .header{
		position: absolute;
		top:100px;
		right :50px;
		float: right;

	}
	.page.login .logo { 
		background-image: url('/img/chesslogo.png');
		background-size: cover; 
		margin-bottom: 50px;		
		width: 240px;
		height: 200px;
	}
	
	.page.login button {
		
	background-color: #333333;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: block;
    margin: 10px auto;
	}

	.page.login button:hover{
		-webkit-transition: 0.5s;
       background-color: #555;
}
	
	.page.login input {
	padding: 12px 20px;
    font-size:12pt;
    display: block;
    margin:  auto;
    box-sizing: border-box;
    border: 3px solid #535353;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	}
	.page.login input:focus {
		
    border: 3px solid black;
}
.page.lobby{
	margin:auto;
	display: block;
}
button,
input[type=button],
input[type=reset],
input[type=submit],
button[type=submit] {
  background-color: #333333;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left:5px;
   
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
button[type=submit]:hover {
  -webkit-transition: 0.5s;
       background-color: #555;
}
.page.lobby h1 {
		font-family: Saucer-BB;
		
	}
	.page.lobby h2 {
		font-family: Saucer-BB;
		color: black;
		font-weight: bold;
	}

	.page.lobby h3 {
		margin-bottom: 10px;
		margin-top: 40px;
	}
	.page.game{
		margin:auto;
		display: block;
	}
.page.game button {
	background-color: #333333;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-bottom: 10px;	
}

#page-lobby{
	display: none;
}

#page-game {
	display: none;
}

.circle {
	background-color: green;
	width: 30px;
	height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
}

.circle.offline {
	background-color: yellow;
}

@font-face {
    font-family: Saucer-BB;
    src: url(/fonts/SaucerBB.ttf);
}

@font-face {
    font-family: RINGM___;
    src: url(/fonts/RINGM___.ttf);
}